body{
    margin: 0;
    padding: 0px;
    background: url('../assets/images/back1.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    -webkit-backgound-size: cover;
    -moz-backgound-size: cover;
    -o-backgound-size: cover;
    height: 100%;

}
/* nav-bar style*/
/* nav-bar style*/
nav{
    width:100%;
    background-color: #1d2731;
    color: white;
    display: block;
}

textarea:focus, input:focus , select:focus , option:focus{
    outline: none;
}
.icon-place{
    display: inline-block;
    float: right;
    padding: 0px;
    margin: 0px;
    padding: 10px;
    margin-top: -7px;
    background-color: #1d2731;
}
.icon-place:hover{
    opacity: 0.7;
}

.icon-1{
    width: 30px;
    height: 5px;
    margin: 3px;
    border-radius: 3px;
    background-color: white;
}
.logo{
    display: inline-block;
    text-align: center;
    background-color: #1d2731;
}
.logo h1{
    margin: 0px;
    display: inline;
    padding:5.5px;
    text-align: center;
}
.nav-left{
    display: inline-block;
}
nav ul{
    display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
    background-color: #1d2731;
    
}

nav li{
    display: inline-block;
    padding: 0.8px 0px;
}
nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

nav a:hover{
    color: #1d2731;
    background-color: white;
}
nav li:hover{
     color: #1d2731;
    background-color: white;
}

nav a{
    margin: 0px; 
    display: block;
    text-decoration: none;
    text-decoration-style: none;
    text-align: center;
    padding:10px;
    color: white;
    
}

/*signin */

.signup{
    width: 400px;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
    
}
.signup 
input[type="text"],
input[type="password"],
input[type="email"],
select,
option{
    display: block;
    width: 50%;
    margin: 10px 0px;
    border: none;
    background: none;
    padding:10px 0px;
    border-radius: 30px;
    margin: 10px auto;
    border:1.5px solid #112F41;
    text-align: center;
}
.signup input[type="submit"]{
    
    text-align: center;
    padding: 5px 20px;
    border:none;
    background: none;
    border-radius: 30px;
    border:2px solid #4484ce;
    
}
.signup input[type="submit"]:hover{
    background-color: #4484ce;
    color:white;
}
.signup
select:hover ,option:hover ,
input[type="text"]:hover ,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    width: 100%;
    transition-duration: 0.5s;
    
}
.signup form{
    padding:20px;
}


.signup a{
    text-decoration: none;
    color: blue;
}


.signin input[type="submit"]{
    border: 1.5px solid #47AB6C;
}
.signin input[type="submit"]:hover{
    background-color: #47AB6C;
}

.option{
    display: block;
    width: 50%;
    margin: 10px 0px;
    border: none;
    background: none;
    padding:10px 0px;
    border-radius: 30px;
    margin: 10px auto;
    border:1.5px solid #112F41;
    text-align: center;
}

@media only screen and (max-width: 600px){
    .signup{
        display: inline-block;
        width:92%;
        margin: 60px 4%;
        border-radius: 5px;
    }
    nav ul{
        display: none;
        float: left;
        width: 100%;

    }
    nav li{
        display: block;
        float: left;
        width: 100%;
    }
    .icon-place{
        display: block;
    }
    .active{
        display: inline-block;
    }
}

@media only screen and (min-width: 601px){
    .signup{
        display: inline-block;
        width:70%;
        margin: 60px 14%;
        border-radius: 5px;
    }
    
    .icon-place{
        display: none;
    }
}

@media only screen and (min-width: 1000px){
    .signup{
        display: inline-block;
        width: 30%;
        margin: 60px 34.5%;
        border-radius: 5px;
    }
    
    .icon-place{
        display: none;
    }
}