body{
    margin: 0;
    background: url('../assets/images/back1.jpeg') no-repeat center center fixed;
    height: 630px;
    background-size: cover;
    background-position: center;
    float: left;
    width: 100%;

}
/* nav-bar style*/
nav{
    width:100%;
    background-color: #1d2731;
    color: white;
    display: block;
    position: fixed;
    z-index: 1;
}

textarea:focus, input:focus , select:focus , option:focus{
    outline: none;
}
.icon-place{
    display: inline-block;
    float: left;
    background-color: #1d2731;
    padding: 5.5px;
}
.icon-place:hover{
    opacity: 0.7;
}

.icon-1{
    width: 30px;
    height: 5px;
    margin: 3px;
    border-radius: 3px;
    background-color: white;
}
.logo{
    display: inline-block;
    background-color: #1d2731;
}
.logo h1{
    margin: 0px;
    padding:5.5px;
}
.nav-left{
    display: inline-block;
    
}
nav ul{
    display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
    background-color: #1d2731;
    
}
nav li{
    display: inline-block;
}

nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

nav a:hover{
    color: #1d2731;
    background-color: white;;
}
nav li{
    display: inline-block;
    padding: 0.8px 0px;
}
nav li:hover{
    color: #1d2731;
    background-color: white;
}

nav a{
    margin: 0px; 
    display: block;
    text-decoration: none;
    text-decoration-style: none;
    text-align: center;
    padding:10px;
    color: white;
    
}
.side-nav{
   padding: 0;
   width: 200px;
   background-color: #f1f1f1;
   opacity: 0.9;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: none;
    z-index: 1;
    margin-top: 40px;
}

.side-nav-link{

}

.side-nav-link a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}
.side-nav-link:hover{
    color: white;
    background-color:#1d2731;
    opacity: 0.9; 
}
.side-nav-link a:hover{
    color: white;
    background-color:#1d2731;
    opacity: 0.9; 
    
}
.closebtn{
    font-size: 50px;
    padding:0px;
    padding: 0px;
    text-align: right;
}
.main-content{
    display: inline-block;
    float: right;
    text-align: center;
    margin-top:40px;
}


.userdesc{
    margin: 30px auto;
    background-color: white;
    display: inline-block;
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.display-btn{
    display: block;
}
.btn1{
    display: inline-block; 
    padding:20px 0px;
    text-align: center;
    font-size: 18px;
    background-color:#1d2731;
    color: white;
    
}
.btn1:hover{
    color: white;
    background-color:#1d2731;
    opacity: 0.9;
}
.btnview{
    float: left;
    
}
.btnpass{
    
}
.viewdisplay{
}
.inf{
    padding: 10px 0px;
}

.atrib{
    display: inline-block;
    font-size:18px;
    font-weight: bold;
    text-align: right;
    padding: 0px 3px;
}
.atribdate{
    display: inline-block;
    float: right;
    text-align: left;
}

.pic1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: inline-block;
    float:  left;
    text-align: center;
    opacity: 0.9;
    margin: 2%;
}

.picIn{
    padding: 8%;
    text-align: center;
}
.picIn i{
    font-size: 100%;
}
.username{
    font-weight: bold;
    padding: 20px 0px;
}


.changepass{
    display: none;
}
.changepass form{
    padding: 20px;
    text-align: center;
}
.changepass label{
    text-align: left;
}
.changepass input{
    display: block;
    width: 70%;
    margin: 10px 0px;
    border: none;
    background: none;
    padding:10px 0px;
    border-radius: 3px;
    margin: 10px auto;
    border:1.5px solid #112F41;
    text-align: center;
}
.changepass input[type="submit"]{
    background-color: #112F41;
    color: white;
    font-size:1em;
    font-weight: bolder;
}
.changepass input[type="submit"]:hover{
    opacity: 0.7;
}

.picIn img{
    border-radius: 5px;
}


.boxM{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pic1{
        margin-top: 60px;
    }


.active{
        display: inline-block;
    }
@media only screen and (max-width: 600px) {
  /* For tablets: */
    .ul-nav{
        display: none;
    }
    .pic1{
        margin:0px;
    }
    .userdesc{
        font-size: 0.7em;
    }
    .main-content{
        width: 90%;
        padding: 0px;
        margin: 60px 4.9%;
        
        
        
    }
    .main{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    body{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .icon-place{
        width: 30%;
        display: inline-block;
        float: right;
    }
    
    .logo{
        width: 30%;
        display: inline-block;
    }
    .active{
        display: inline-block;
    }
    
  
}
@media only screen and (max-width: 768px){
    .userdesc{
        margin-top: 60px;
    }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .userdesc{
        margin-top: 60px;
    }
}

